@tailwind base;
@tailwind components;
@tailwind utilities;

.styled-select {
  background-image: url(../../public/img/arrow.svg);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  background-repeat: no-repeat;
  background-color: #fff;
  border-color: #d1d5db;
  border-width: 1px;
  border-radius: 0.375rem;
  padding-top: 0.5rem;
  padding-right: 2.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
}
.neuo-shadow {
  box-shadow: 5px 5px 10px #dddddd, -5px -5px 10px #ffffff;
}
.neuo-shadow:hover {
  box-shadow: inset 5px 5px 10px #e1e1e1, inset -5px -5px 10px #ffffff;
}

.two-cols {
  column-count: 2;
  column-gap: 4rem;
}

.nl2br {
  white-space: pre-line;
}
